<div class="column is-one-third">
  <div class="sticky table-container">
    <table class="table">
      <tbody>
        <tr>
         <td>Paper</td> <td>{{ $.Param "mab_properties.pub" }}</td>
        </tr>
        <tr>
          <td>DOI</td> <td>{{ $.Param "mab_properties.doi" }}</td>
        </tr>
        <tr>
          <td>IGHV</td> <td>{{ $.Param "mab_properties.ighv" }}</td>
        </tr>
        <tr>
          <td>Light chain</td> <td>{{ $.Param "mab_properties.lc" }}</td>
        </tr>
        <tr>
          <td>Immunogen</td> <td>{{ $.Param "mab_properties.immunogen" }}</td>
        </tr>
        <tr>
          <td>PDB</td> <td>{{ $.Param "mab_properties.pdb" }}</td>
        </tr>
        <tr>
          <td>GenBank VH</td> <td>{{ $.Param "mab_properties.vhnuc" }}</td>
        </tr>
        <tr>
          <td>GenBank VL</td> <td>{{ $.Param "mab_properties.vlnuc" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
